swiper-container {
  width: 100%;
  height: calc(100% - 100px);
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-img {
  width: 100%;
}

h1 {
  color: #004a81;
  font-weight: bold;
  font-size: 32px;
  padding: 0 20px;
}

.action-btn {
  border-top: 2px solid #f3f3f3;
  height: 100px;
  display: block;
  padding: 20px 10px;
}

.action-btn {
  ion-button {
    --border-radius: 20px;
    --background: #004a81;
  }

}
