.black-white-boxes-cls {
  width: 160px;
  margin: auto;
  margin-top: 100px;
}
.black {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #000;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.white {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #fff;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: #004a81;
}

ion-checkbox::part(container) {
  border-radius: 5px;
}

ion-button {
  --border-radius: 20px;
  --background: #004a81;
}

#policy-accept-term-container {
  padding: 20px;
}

.policy-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.policy-accept-term {
  padding-left: 10px;
}

.action-btn-container {
  position: fixed;
  width: 100%;
  padding: 20px;
  bottom: 10px;
  border-top: 5px solid #f3f3f3;
}

a {
  text-decoration: none;
}
